<md-card layout-fill flex layout="column">
    <photo-image photo="album.cover" flex
            class="cover-image clickable"
            ng-click="goDisplay(album)">
        <span>{{album.title}}</span>
        <pre>{{album.description}}</pre>
    </photo-image>

    <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-icon-button md-mini" aria-label="查看"
                   ng-click="goDisplay(album)">
            <md-icon md-svg-icon="action:visibility"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-mini" aria-label="编辑"
                   ng-show="editable"
                   ng-click="go('app.photos.album', {id: album.id})">
            <md-icon md-svg-icon="editor:mode_edit"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-mini" aria-label="上传"
                   ng-show="editable"
                   ng-click="goEdit(album)">
            <md-icon md-svg-icon="maps:pin_drop"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-mini" aria-label="上传图片"
                   ng-show="editable"
                   ng-click="go('app.maps.upload', {album: album.id})">
            <md-icon md-svg-icon="image:photo_camera"></md-icon>
        </md-button>
    </div>
</md-card>