<form name="albumForm">
<md-card>
    <md-card-content>
        <md-input-container>
            <label>name</label>
            <input ng-model="pac.album.name" required>
        </md-input-container>
        <md-input-container>
            <label>名称</label>
            <input ng-model="pac.album.title" required>
        </md-input-container>
        <md-input-container flex>
            <label>描述</label>
            <textarea ng-model="pac.album.description" columns="1" md-maxlength="150"></textarea>
        </md-input-container>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-raised md-primary"
                   ng-disabled="!albumForm.$dirty"
                   ng-click="pac.save($event)">保存</md-button>
        <md-button ng-click="pac.cancel($event)"
                   ng-disabled="!albumForm.$dirty">取消</md-button>
    </div>
</md-card>
</form>

<md-card class="album-photos">
    <md-card-content ui-rect-select="{'selector': '.photo'}"
                     ui-move-select="{{moveSelect}}"
                     ui-selector="photo.actionSelected">
        <div mmd-photo-card-wall layout-fill flex
             mmd-wall-options="{targetHeight: 160, fadeSpeed: 0, allowPartialLastRow: true}">
            <mmd-photo-card ng-repeat="photo in pac.album.photos"
                            photo = "photo"
                            photo-selectable="true"
                            action-selected="photo.actionSelected"
                            mmd-photo-url = "{{staticCtx}}/{{photo.oss_key}}@!photo-preview-sm"
                            class="photo">
            </mmd-photo-card>
        </div>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-warn"
                   ng-click="pac.deleteAlbum($event)">删除相册</md-button>
        <md-button class="md-warn"
                   ng-click="pac.removePhotos($event)">移出</md-button>
        <md-button class="md-warn"
                   ng-click="pac.deletePhotos($event)">删除</md-button>
        <md-button class="md-primary"
                   ng-click="pac.selectAll($event)">全选</md-button>
        <md-button class="md-primary"
                   ng-click="pac.cancelSelect($event)">取消</md-button>
        <md-button class="md-icon-button md-primary" title="上传图片"
                ng-click="go('app.maps.upload', {album: pac.album.id})">
            <md-icon md-svg-icon="image:photo_camera"></md-icon>
        </md-button>
    </div>
</md-card>