<md-toolbar class="md-accent md-tall">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings"
                   ng-click="toggleLeftBar()">
            <md-icon md-svg-icon="navigation:menu"></md-icon>
        </md-button>
        <h2>
            <span>航线 {{mttc.track.name}}</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More"
                   ng-click="showTrackBottomSheet($event)">
            <md-icon md-svg-icon="more_vert"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content flex
            class="track-detail">
    <md-grid-list
            md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="8px" md-gutter-gt-sm="4px" >
        <md-grid-tile class="gray"
                      md-rowspan="1" md-colspan="1" md-colspan-sm="1">
            {{mttc.track.name}}
        </md-grid-tile>
        <md-grid-tile class="green"
                      md-rowspan="1" md-colspan="2">
            {{mttc.track.date | date:'medium'}}
            <md-grid-tile-footer>
                <h3>#2: (1r x 1c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="yellow"
                      md-rowspan="2" md-colspan="2">
            {{mttc.track.description}}
            <md-grid-tile-footer>
                <h3>#3: (1r x 1c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="gray">
            {{mttc.track.duration | amDurationFormat:'s'}}
            <md-grid-tile-footer>
                <h3>#1: (3r x 2c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="blue">
            {{mttc.track.distance | distance}}
            <md-grid-tile-footer>
                <h3>#4: (2r x 1c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="red"
                      md-rowspan="2" md-colspan="2" md-colspan-sm="1">
            {{mttc.track.duration | amDurationFormat:'s'}}
            <md-grid-tile-footer>
                <h3>#5: (2r x 2c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green"
                      md-rowspan="2" >
            <md-grid-tile-footer>
                <h3>#6: (2r x 1c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</md-content>