.comment-list {
  .comment {
    width: 100%;
    margin: 10px 0;

    .md-avatar {
      width: 35px;
      height: 35px;
    }

    h4 {
      font-size: 0.8em;
      margin: 2px 0;
      span {
        font-weight: normal;
      }
    }

    pre {
      font-size: 0.8em;
    }
  }
}
