<md-toolbar md-scroll-shrink
            class="md-accent track-search">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu"
                   ng-click="toggleLeftBar()">
            <md-icon md-svg-icon="navigation:menu"></md-icon>
        </md-button>
        <h3>
            <span>Track</span>
        </h3>
        <span flex="">
            <form ng-submit="$event.preventDefault()"
                    class="search-form">
                <md-autocomplete
                        ng-disabled="ctrl.isDisabled"
                        md-selected-item="ctrl.selectedItem"
                        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                        md-search-text="ctrl.searchText"
                        md-selected-item-change="ctrl.selectedItemChange(item)"
                        md-items="item in ctrl.querySearch(ctrl.searchText)"
                        md-item-text="item.name"
                        md-min-length="0"
                        placeholder="搜索路线?">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found for "{{ctrl.searchText}}".
                    </md-not-found>
                </md-autocomplete>
            </form>
        </span>
        <md-button class="md-icon-button" aria-label="More"
                   ng-click="showTrackBottomSheet($event)">
            <md-icon md-svg-icon="more_vert"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content flex
            class="mmd-list track-list">
    <md-list>
        <md-list-item class="md-3-line"
                      ng-repeat="track in ctrl.tracks"
                      ng-click="ctrl.displayTrack(track)">
            <md-icon md-font-icon="pictogram activity-{{track.activity}}" alt="activity-1"
                    class="leader"></md-icon>
            <div class="md-list-item-text">
                <a href
                   ng-click="$event.preventDefault();go('app.maps.track.display', {id: track.id})">
                    <h3> {{ track.title }} </h3>
                </a>
                <p> {{ track.description }} </p>
            </div>
        </md-list-item>
    </md-list>
</md-content>