.track-search {
  .search-form {
    margin: 0 10px;
  }
  md-autocomplete {
    &.md-default-theme {
      background-color: initial;
      md-autocomplete-wrap {
        box-shadow: initial;
      }
      box-shadow: initial;
    }
    input {
      border-color: rgba(0,0,0,0.12);
      border-width: 0 0 1px 0;
      border-style: solid;
    }
  }

  fieldset {
    border: 0;
    padding: 0;
  }
}
