<md-dialog class="sign-dialog">
    <md-button class="md-icon-button md-icon-close" aria-label="Close"
               ng-click="cancel()">
        <md-icon md-svg-icon="navigation:close"></md-icon>
    </md-button>
    <form name="signinForm" ng-submit="submit(user)">
        <md-card>
            <md-card-content>
                <h2>
                    登录 美丽地图
                </h2>
                <div class="message" ng-show="message">
                    <span class="md-warn">{{message}}</span>
                </div>

                <md-input-container class="md-icon-float" >
                    <!-- Use floating label instead of placeholder -->
                    <label>用户名/邮箱</label>
                    <md-icon md-svg-src="social:person" class="name"></md-icon>
                    <input ng-model="user.username" type="text" required >
                </md-input-container>
                <md-input-container class="md-icon-float" >
                    <!-- Use floating label instead of placeholder -->
                    <label>密码</label>
                    <md-icon md-svg-src="action:lock" class="pass"></md-icon>
                    <input ng-model="user.password" type="password" required >
                </md-input-container>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="space-around center"
                 layout-padding>
                <div flex="50">
                    <md-button class="md-raised md-primary"
                               layout-fill>登录</md-button>
                </div>
                <div flex layout="row" layout-align="center center">
                    <md-button flex class="md-primary" ng-href=""
                               ng-click="signup($event)">Need an account? -></md-button>
                </div>
            </div>
        </md-card>
    </form>

    <div ng-show="loading" class="signining"
         layout="row"  layout-align="center center">
        <md-progress-circular class="md-warn md-hue-3" md-mode="indeterminate"></md-progress-circular>
    </div>
</md-dialog>
