<md-dialog class="sign-dialog">
    <div>
        <form ng-submit="submit()">
            <div>
                <h3>
                    登录美丽地图
                </h3>
                <div class="message" ng-show="message">
                    <span class="md-warn">{{message}}</span>
                </div>

                <md-input-container class="md-icon-float" >
                    <!-- Use floating label instead of placeholder -->
                    <label>用户名</label>
                    <md-icon md-svg-src="social:person" class="name"></md-icon>
                    <input ng-model="user.username" type="text" required >
                </md-input-container>
                <md-input-container class="md-icon-float" >
                    <!-- Use floating label instead of placeholder -->
                    <label>密码</label>
                    <md-icon md-svg-src="action:lock" class="pass"></md-icon>
                    <input ng-model="user.password" type="password" required >
                </md-input-container>
            </div>

            <div layout="row"  layout-align="end center">
                <md-button class="md-raised md-primary">登录</md-button>
            </div>

        </form>
    </div>

    <div ng-show="loading" class="signining"
         layout="row"  layout-align="center center">
        <md-progress-circular class="md-warn md-hue-3" md-mode="indeterminate"></md-progress-circular>
    </div>
</md-dialog>
