.md-sidenav-left {
  z-index: 1004;
  .md-tall {
    height: 180px;
    max-height: 180px;
  }

  .button-signin {
    width: 100%;
    button {
      width: 100%;
    }
  }

  md-list {
    md-icon {
      float: left;
      margin: 5px 10px 3px 0;
    }

    &.md-default-theme {
      md-list-item.md-clickable {
        button:hover {
          background-color: lightgray;
        }
      }
    }
  }

  .profile-cover-upload {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: auto;
    left: auto;
    width: 100%;
    text-align: right;
    opacity: 0.5;
  }
}

md-backdrop.md-sidenav-backdrop {
  z-index: 1003;
}