.md-sidenav-left {
  z-index: 1004;
  .md-tall {
    height: 180px;
    max-height: 180px;
  }

  .button-signin {
    width: 100%;
    button {
      width: 100%;
    }
  }

  md-list {
    md-icon {
      float: left;
    }
  }
}

md-backdrop.md-sidenav-backdrop {
  z-index: 1003;
}