<md-sidenav class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left">
    <md-toolbar md-scroll-shrink
                class="md-tall md-hue-3">
        <span flex></span>
        <div class="md-toolbar-tools md-toolbar-tools-bottom"
                ng-switch="Authenticate.login">
            <div ng-switch-when="true" flex layout-fill>
                <user-profile user="Authenticate.user"
                              flex layout-fill>
                    {{Authenticate.user.username}}
                </user-profile>
            </div>

            <div ng-switch-default
                 class="button-signin"
                 layout="row" layout-align="space-around center">
                <md-button class="md-accent" ng-click="signin($event)"
                        >登录</md-button>
                <md-button class="md-accent" ng-click="signup($event)"
                        >注册</md-button>
            </div>

        </div>
    </md-toolbar>
    <md-content>
        <md-list flex layout="column">
            <md-list-item ng-repeat="item in linkItems"
                          ng-click="navigateTo(item.state, $event)">
                <md-icon md-svg-icon="{{item.icon}}"></md-icon>
                <p> {{ item.name }}  </p>
            </md-list-item>

            <md-list-item ng-repeat="item in authItems" ng-show="Authenticate.login"
                          ng-click="navigateTo(item.state, $event)">
                <md-icon md-svg-icon="{{item.icon}}"></md-icon>
                <p> {{ item.name }}  </p>
            </md-list-item>

            <md-list-item ng-show="Authenticate.login"
                    ng-click="signout()">
                <md-icon md-svg-icon="action:exit_to_app"></md-icon>
                <p> 退出 </p>
            </md-list-item>
        </md-list>

        <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close
        </md-button>
    </md-content>
</md-sidenav>