album-card {
  padding: 2px;
  md-card {
    .md-actions {
      .md-button {
        margin: 0;
        height: 30px;
      }
    }
  }
  md-grid-tile {
    img {
      width: 100%;
    }
  }
}

.cover-image {
  position: relative;
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 50%;
    background-color: rgba(0, 0, 0, 0.12);
    color: white;
    text-align: initial;
  }
}