album-card {
  padding: 2px;
  md-card {
    md-card-content {
      overflow: hidden;
      padding: 6px;
    }
    .md-title {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
  md-grid-tile {
    img {
      width: 100%;
    }
  }
}