album-card {
  padding: 2px;
  md-card {
    .md-actions {
      .md-button {
        margin: 0;
        height: 30px;
      }
    }
  }
  md-grid-tile {
    img {
      width: 100%;
    }
  }
}

.cover-image {
  position: relative;
  .photo-image {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
  }
}