<md-dialog aria-label="Photo locate dialog" layout="column"
           layout-fill layout-margin>
    <md-button class="md-icon-button md-bottom-left md-close" ng-click="cancel()">
        <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
    </md-button>

    <div layout="row" flex>
        <leaflet id="selector-map" layout-fill flex
                 layers="layers"></leaflet>
        <md-content>
            <md-list>
                <md-list-item ng-repeat="map in maps">
                    <md-checkbox ng-model="map.selected"
                                 ng-click="mapSelected(map)"></md-checkbox>
                    <p> {{ map.name }} </p>
                </md-list-item>
            </md-list>
        </md-content>
    </div>

    <md-fab-toolbar class="md-right">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
                <md-icon md-svg-icon="navigation:menu"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-toolbar layout="row">
            <md-button class="md-icon-button md-bottom-left md-close"
                       ng-click="cancel()">
                <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
            </md-button>

            <md-fab-actions class="md-toolbar-tools" >
                <md-button aria-label="comment" class="md-icon-button"
                           ng-click="save()">
                    <md-icon md-svg-icon="content:save"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>

</md-dialog>