div.country {
  font: 14px/16px Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  right: 1em;
  padding: .2em .5em;
  line-height: 1.1em;
  text-align: center;
}

.mmd-list {
  .md-list-item-text {
    h3 {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
