div.country {
  font: 14px/16px Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  top: .5em;
  right: 1em;
  z-index: 100;
  padding: .2em .5em;
  line-height: 1.1em;
  text-align: center;
}