<md-dialog aria-label="Photo Dialog" flex="100" layout-fill layout="row">
    <div flex="70" layout="column" class="photo-dialog-left">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon="google_plus"></md-icon>
                </md-button>
                <h2>
                    <span>Toolbar with Icon Buttons</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="favorite"
                           ng-click="">
                    <md-icon md-svg-icon="favorite_outline"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Close"
                        ng-click="hide()">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex layout-fill layout="row">
            <mmd-photo-slider flex layout-fill
                    mmd-photo="photo">

            </mmd-photo-slider>
        </md-content>
    </div>
    <div flex="30" layout="column"
         layout-margin layout-fill
         layout-align="space-between center"
         class="photo-dialog-info">
        <md-toolbar md-scroll-shrink
                class="md-tall md-warn md-hue-3">
            <span flex></span>
            <div class="md-toolbar-tools md-toolbar-tools-bottom">
                <user-profile user="user"
                              flex layout-fill>
                </user-profile>
            </div>
        </md-toolbar>

        <md-content flex layout-fill class="photo-info-content">
            <div style="width:100%;">
                <md-icon md-svg-icon="image:photo_library"></md-icon>
                </md-icon><md-button class="md-primary" ng-href="#/maps/travel/{{photo.travel_id}}" target="_blank">{{photo.travel_name}}</md-button>

                <h6>{{photo.title}}</h6>
                <p class="">{{photo.description}}</p>

                <md-icon md-svg-icon="social:location_city"></md-icon>
                <md-button class="md-primary" ng-href="{{googleUrl}}" target="_blank">{{photo.point.address}}</md-button>
                <br>
                <md-icon md-svg-icon="maps:place"></md-icon>
                <md-button class="md-primary" ng-href="{{googleUrl}}" target="_blank">{{photo.point.lat | number}}, {{photo.point.lng | number}}</md-button>
                <md-list>
                    <md-subheader md-no-sticky>Camera info</md-subheader>
                    <md-list-item ng-repeat="info in cameraInfos">
                        <button class="md-no-style md-button md-default-theme">
                            <div class="md-list-item-inner">
                                <md-icon md-svg-icon="{{info.icon}}"></md-icon>
                                <span>{{info.value}}</span>
                                <md-tooltip>
                                    {{info.name}}
                                </md-tooltip>
                            </div>
                        </button>
                    </md-list-item>
                </md-list>

                <md-divider></md-divider>

                <mmd-comments comments="comments">

                </mmd-comments>
            </div>

        </md-content>

        <post-comment></post-comment>
    </div>
</md-dialog>