<md-dialog aria-label="Photo Dialog" flex="100" layout-fill layout="row">
    <div flex="70" layout="column" class="photo-dialog-left">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon="google_plus"></md-icon>
                </md-button>
                <h2>
                    <span>{{photo.title}}</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="favorite"
                           ng-click="">
                    <md-icon md-svg-icon="action:favorite_outline"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Close"
                        ng-click="hide()">
                    <md-icon md-svg-icon="navigation:close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex layout-fill layout="row">
            <mmd-photo-slider flex layout-fill
                    mmd-photo="photo">

            </mmd-photo-slider>
        </md-content>
    </div>
    <div flex="30" layout="column"
         class="photo-dialog-info">
        <md-toolbar md-scroll-shrink
                class="md-tall md-warn md-hue-3">
            <span flex></span>
            <div class="md-toolbar-tools md-toolbar-tools-bottom">
                <user-profile user="user"
                              flex layout-fill>
                </user-profile>
            </div>
        </md-toolbar>

        <md-content class="photo-info-content"
                flex layout-fill >
            <md-list>
                <md-list-item ng-show="photo.travel_id">
                    <md-button class="md-primary"
                               ng-href="#/maps/travel/{{photo.travel_id}}"
                               target="_blank">
                        <md-icon md-svg-icon="image:photo_library"></md-icon>
                        {{photo.travel_name}}
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <p class="">{{photo.description}}</p>
                </md-list-item>
                <md-list-item>
                    <md-button class="md-primary"
                               ng-href="{{googleUrl}}"
                               target="_blank">
                        <md-icon md-svg-icon="social:location_city"></md-icon>
                        {{photo.point.address}}
                    </md-button>
                </md-list-item>
                <md-list-item>

                    <md-button class="md-primary" ng-href="{{googleUrl}}"
                               target="_blank">
                        <md-icon md-svg-icon="maps:place"></md-icon>
                        {{photo.point.lat | number}}, {{photo.point.lng | number}}
                    </md-button>
                </md-list-item>

                <md-divider></md-divider>
                <md-subheader md-no-sticky>相机信息</md-subheader>
                <md-list-item ng-repeat="info in cameraInfos">
                    <md-icon md-svg-icon="{{info.icon}}"></md-icon>
                    <p>{{info.value}}</p>
                    <md-tooltip>
                        {{info.name}}
                    </md-tooltip>
                </md-list-item>
            </md-list>

            <md-divider></md-divider>
            <mmd-comments comments="comments"></mmd-comments>
        </md-content>

        <post-comment
                type="photo"
                entity-id="photo.id"
                on-saved="commentSaved"></post-comment>
    </div>
</md-dialog>