<md-fab-speed-dial md-open="speedDialOpen" md-direction="left"
                   class="md-fling md-bottom-right">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
            <!--<md-icon ng-if="!uploading" md-svg-icon="navigation:menu"></md-icon>-->
            <md-icon ng-if="!uploading" md-svg-icon="content:add"></md-icon>
            <md-progress-circular ng-if="uploading"
                                  class="md-accent"
                                  md-mode="indeterminate"></md-progress-circular>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="上传" class="md-fab md-raised md-primary md-mini"
                   ngf-select
                   accept=".kml"
                   ngf-change="fileSelected($files, $event, 'kml')"
                   ng-disabled="uploading">
            kml
        </md-button>
        <md-button aria-label="上传" class="md-fab md-raised md-primary md-mini"
                   ngf-select
                   accept=".geojson"
                   ngf-change="fileSelected($files, $event, 'csv')"
                   ng-disabled="uploading">
            geojson
        </md-button>
        <md-button aria-label="上传" class="md-fab md-raised md-primary md-mini"
                   ngf-select
                   accept=".wkt"
                   ngf-change="fileSelected($files, $event, 'csv')"
                   ng-disabled="uploading">
            wkt
        </md-button>
        <md-button aria-label="上传" class="md-fab md-raised md-primary md-mini"
                   ngf-select
                   accept=".gpx"
                   ngf-change="fileSelected($files, $event, 'csv')"
                   ng-disabled="uploading">
            gpx
        </md-button>
        <md-button aria-label="上传" class="md-fab md-raised md-primary md-mini"
                   ngf-select
                   accept=".csv"
                   ngf-change="fileSelected($files, $event, 'csv')"
                   ng-disabled="uploading">
            csv
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>

<md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings"
                   ng-click="toggleLeftBar()">
            <md-icon md-svg-icon="navigation:menu"></md-icon>
        </md-button>
        <h2>
            <span>上传Track</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More"
                   ng-click="showTrackBottomSheet($event)">
            <md-icon md-svg-icon="more_vert"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content class="gpx-list upload-list" flex layout="column" layout-fill>

    <div flex layout="column"
         class="upload-content">
        <md-card class="caption">
            <md-card-content>
                <span><b>选择包含GPS航迹(tracklogs)和航点(waypoints)的档案上传</b></span><br/>
                <span>禁止上传违反法律的轨迹</span>
            </md-card-content>
        </md-card>
        <md-list flex>
            <md-list-item ng-repeat="track in tracks" ng-controller="trackCtl as tc">
                <form name="trackForm" ng-submit="tc.submit(track)">
                <md-card class="track"
                         ng-mouseup="activeTrack(track)">
                    <md-card-content >
                        <h3 class="md-title">{{track.fileName}}</h3>
                        <p>
                            时间：{{track.time}} 文件大小：{{track.fileSize}}
                        </p>
                        <form name="myForm">
                            <md-input-container>
                                <label>名称</label>
                                <input ng-model="track.name">
                            </md-input-container>
                            <md-input-container flex>
                                <label>描述</label>
                            <textarea ng-model="track.description" columns="1"
                                      md-maxlength="10000"></textarea>
                            </md-input-container>

                            <md-list>
                                <md-subheader class="md-no-sticky">活动类别</md-subheader>
                                <md-list-item class="md-3-line">
                                    <md-radio-group ng-model="track.type">
                                        <md-radio-button value="{{type.value}}"
                                                         class="md-primary"
                                                         ng-repeat="type in tc.trackTypes">
                                            <md-icon md-svg-icon="{{type.id}}"></md-icon>
                                            <p>{{type.name}}</p>
                                        </md-radio-button>
                                    </md-radio-group>
                                </md-list-item>

                                <md-divider ></md-divider>
                                <md-subheader class="md-no-sticky">难易度</md-subheader>
                                <md-list-item class="md-3-line">
                                    <md-radio-group ng-model="track.difficulty">
                                        <md-radio-button value="{{type.value}}"
                                                         class="md-primary"
                                                         ng-repeat="type in tc.difficulties">
                                            <p>{{type.name}}</p>
                                        </md-radio-button>
                                    </md-radio-group>
                                </md-list-item>

                                <md-divider ></md-divider>
                                <md-subheader class="md-no-sticky">隐私权设定</md-subheader>
                                <md-list-item class="md-3-line">
                                    <md-radio-group ng-model="track.privacy">
                                        <md-radio-button value="{{privacy.value}}"
                                                         class="md-primary"
                                                         ng-repeat="privacy in tc.privacy">
                                            <p>{{privacy.name}}</p>
                                        </md-radio-button>
                                    </md-radio-group>
                                </md-list-item>
                            </md-list>
                        </form>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary">保存</md-button>
                        <md-button class="md-raised"
                                   ng-click="cancel($index)">取消</md-button>
                    </div>
                </md-card>
                </form>
            </md-list-item>

        </md-list>
        <mmd-footer layout="column">
        </mmd-footer>
    </div>

</md-content>
