<md-content layout-fill
            class="mmd-list">
    <md-list>
        <md-list-item class="md-3-line"
                ng-repeat="geoJSON in mgmc.geoJSONs">
            <md-icon md-font-icon="pictogram activity-{{geoJSON.type}}"
                     class="leader"
                     alt="activity-1"
                     ng-click="go('app.maps.geojson.display', {id: geoJSON.id})"></md-icon>
            <div class="md-list-item-text">
                <h3 ng-click="$event.preventDefault();go('app.maps.geojson.edit', {id: geoJSON.id})"> {{ geoJSON.name }} </h3>
                <p> {{ geoJSON.description }} </p>
            </div>
            <md-button class="md-icon-button md-warn" ng-show="mgmc.edit.editing"
                       aria-label="删除"
                       ng-click="$event.preventDefault();mgmc.remove(geoJSON)">
                <md-icon md-svg-icon="action:delete"></md-icon>
            </md-button>

        </md-list-item>
    </md-list>
</md-content>