.icon-marker img {
  border: 2px solid white;
  width: 34px;
  height: 34px;
  box-shadow: 2px 2px 10px #7B7B7B; }

md-bottom-sheet.md-grid md-item {
  margin: 8px 1px; }
  md-bottom-sheet.md-grid md-item.active {
    background-color: rgba(158, 158, 158, 0.2); }
  md-bottom-sheet.md-grid md-item a {
    width: 100%;
    height: 100%;
    text-decoration: initial; }
  md-bottom-sheet.md-grid md-item .md-grid-item-content {
    width: 100%;
    height: 100%; }
    md-bottom-sheet.md-grid md-item .md-grid-item-content md-icon {
      height: 48px;
      width: 48px; }

.md-sidenav-left {
  z-index: 1004; }
  .md-sidenav-left .md-tall {
    height: 180px;
    max-height: 180px; }
  .md-sidenav-left .button-signin {
    width: 100%; }
    .md-sidenav-left .button-signin button {
      width: 100%; }
  .md-sidenav-left md-list md-icon {
    float: left; }

md-backdrop.md-sidenav-backdrop {
  z-index: 1003; }

.sign-dialog {
  z-index: 1010; }
  .sign-dialog .message {
    height: 35px;
    text-align: center; }
  .sign-dialog .signining {
    position: absolute;
    width: 100%;
    height: 100%; }

.photo-card-wall, [mmd-photo-card-wall], mmd-photo-card-wall {
  overflow: hidden; }
  .photo-card-wall mmd-photo-card, [mmd-photo-card-wall] mmd-photo-card, mmd-photo-card-wall mmd-photo-card {
    position: relative;
    display: inline-block;
    margin: 1px;
    background-color: grey;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s; }
    .photo-card-wall mmd-photo-card img, [mmd-photo-card-wall] mmd-photo-card img, mmd-photo-card-wall mmd-photo-card img {
      -webkit-transition: all linear 0.3s;
      -moz-transition: all linear 0.3s;
      -ms-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;
      transition: all linear 0.3s; }
    .photo-card-wall mmd-photo-card .action-container, [mmd-photo-card-wall] mmd-photo-card .action-container, mmd-photo-card-wall mmd-photo-card .action-container {
      position: absolute;
      bottom: 0;
      height: 40%;
      width: 100%;
      overflow: hidden;
      -webkit-transition: height 0.3s ease-out;
      transition: height 0.3s ease-out; }
      .photo-card-wall mmd-photo-card .action-container .action, [mmd-photo-card-wall] mmd-photo-card .action-container .action, mmd-photo-card-wall mmd-photo-card .action-container .action {
        -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
        transform: translate(0, 100%); }
    .photo-card-wall mmd-photo-card .ponm-photo-footer, [mmd-photo-card-wall] mmd-photo-card .ponm-photo-footer, mmd-photo-card-wall mmd-photo-card .ponm-photo-footer {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      border: 5px solid transparent;
      background-color: rgba(128, 128, 128, 0.5);
      color: white;
      font-size: 10px;
      overflow: hidden;
      -webkit-transition: background-color 0.3s ease-in;
      transition: background-color 0.3s ease-in; }
      .photo-card-wall mmd-photo-card .ponm-photo-footer .description, [mmd-photo-card-wall] mmd-photo-card .ponm-photo-footer .description, mmd-photo-card-wall mmd-photo-card .ponm-photo-footer .description {
        color: white; }
    .photo-card-wall mmd-photo-card .action, [mmd-photo-card-wall] mmd-photo-card .action, mmd-photo-card-wall mmd-photo-card .action {
      -webkit-transition: transform 0.3s ease-in;
      transition: transform 0.3s ease-in; }
    .photo-card-wall mmd-photo-card.ng-enter, [mmd-photo-card-wall] mmd-photo-card.ng-enter, mmd-photo-card-wall mmd-photo-card.ng-enter {
      -webkit-animation: enter_sequence 300ms ease-out;
      /* Safari/Chrome */
      animation: enter_sequence 300ms ease-out;
      /* IE10+ and Future Browsers */ }
    .photo-card-wall mmd-photo-card.ng-leave, [mmd-photo-card-wall] mmd-photo-card.ng-leave, mmd-photo-card-wall mmd-photo-card.ng-leave {
      -webkit-animation: leave_sequence 300ms ease-out;
      /* Safari/Chrome */
      animation: leave_sequence 300ms ease-out;
      /* IE10+ and Future Browsers */ }
    .photo-card-wall mmd-photo-card:hover .action, .photo-card-wall mmd-photo-card.hover .action, [mmd-photo-card-wall] mmd-photo-card:hover .action, [mmd-photo-card-wall] mmd-photo-card.hover .action, mmd-photo-card-wall mmd-photo-card:hover .action, mmd-photo-card-wall mmd-photo-card.hover .action {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 1; }
    .photo-card-wall mmd-photo-card:hover .action-container:hover, .photo-card-wall mmd-photo-card:hover .action-container.hover, .photo-card-wall mmd-photo-card.hover .action-container:hover, .photo-card-wall mmd-photo-card.hover .action-container.hover, [mmd-photo-card-wall] mmd-photo-card:hover .action-container:hover, [mmd-photo-card-wall] mmd-photo-card:hover .action-container.hover, [mmd-photo-card-wall] mmd-photo-card.hover .action-container:hover, [mmd-photo-card-wall] mmd-photo-card.hover .action-container.hover, mmd-photo-card-wall mmd-photo-card:hover .action-container:hover, mmd-photo-card-wall mmd-photo-card:hover .action-container.hover, mmd-photo-card-wall mmd-photo-card.hover .action-container:hover, mmd-photo-card-wall mmd-photo-card.hover .action-container.hover {
      height: 100%; }
      .photo-card-wall mmd-photo-card:hover .action-container:hover .ponm-photo-footer, .photo-card-wall mmd-photo-card:hover .action-container.hover .ponm-photo-footer, .photo-card-wall mmd-photo-card.hover .action-container:hover .ponm-photo-footer, .photo-card-wall mmd-photo-card.hover .action-container.hover .ponm-photo-footer, [mmd-photo-card-wall] mmd-photo-card:hover .action-container:hover .ponm-photo-footer, [mmd-photo-card-wall] mmd-photo-card:hover .action-container.hover .ponm-photo-footer, [mmd-photo-card-wall] mmd-photo-card.hover .action-container:hover .ponm-photo-footer, [mmd-photo-card-wall] mmd-photo-card.hover .action-container.hover .ponm-photo-footer, mmd-photo-card-wall mmd-photo-card:hover .action-container:hover .ponm-photo-footer, mmd-photo-card-wall mmd-photo-card:hover .action-container.hover .ponm-photo-footer, mmd-photo-card-wall mmd-photo-card.hover .action-container:hover .ponm-photo-footer, mmd-photo-card-wall mmd-photo-card.hover .action-container.hover .ponm-photo-footer {
        background-color: rgba(128, 128, 128, 0.8); }

.photo-wall md-tab-content {
  overflow-y: scroll; }

.photo-dialog-left {
  box-shadow: 1px 1px 5px grey;
  z-index: 3; }

.photo-dialog-info {
  position: relative;
  background-color: #e8e8e8; }
  .photo-dialog-info md-icon {
    color: rgba(0, 0, 0, 0.54); }
  .photo-dialog-info .photo-info-content {
    padding: 5px;
    overflow-x: hidden; }
  .photo-dialog-info .add-comment {
    position: absolute;
    bottom: 10px;
    right: 20px; }
  .photo-dialog-info post-comment {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: wheat; }

mmd-photo-slider .slider, [mmd-photo-slider] .slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }
  mmd-photo-slider .slider .slide, [mmd-photo-slider] .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%; }
    mmd-photo-slider .slider .slide img, [mmd-photo-slider] .slider .slide img {
      max-width: 100%;
      max-height: 100%; }
    mmd-photo-slider .slider .slide.slide-left, [mmd-photo-slider] .slider .slide.slide-left {
      left: -100%;
      right: 100%; }
    mmd-photo-slider .slider .slide.slide-right, [mmd-photo-slider] .slider .slide.slide-right {
      left: 100%;
      right: -100%; }
mmd-photo-slider .arrows, [mmd-photo-slider] .arrows {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0; }

user-profile {
  font-size: .8em !important;
  font-family: Microsoft YaHei; }

.md-avatar {
  box-shadow: 0px 1px 3px grey;
  width: 50px;
  height: 50px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 50%;
  box-sizing: content-box;
  float: left;
  display: inline-block; }

.profile-name {
  padding-top: 8px; }

.media-left, .media > .pull-left {
  padding-right: 10px; }

.pull-left {
  float: left !important; }

.comments {
  margin: 10px 0; }
  .comments .media.comment {
    margin: 10px 0; }
    .comments .media.comment img.media-object {
      width: 28px;
      height: 28px; }
    .comments .media.comment .media-body .header {
      width: 130px;
      float: left; }
    .comments .media.comment .media-body .action {
      float: right; }
    .comments .media.comment .media-body .content {
      white-space: pre-wrap;
      /* css-3 */
      white-space: -moz-pre-wrap;
      /* Mozilla, since 1999 */
      white-space: -pre-wrap;
      /* Opera 4-6 */
      white-space: -o-pre-wrap;
      /* Opera 7 */
      word-wrap: break-word;
      /* Internet Explorer 5.5+ */
      clear: both;
      padding: 0;
      margin: 0;
      border: 0;
      background-color: initial; }

.img-rounded {
  border-radius: 6px; }

img {
  vertical-align: middle; }

.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: top; }

.media-heading {
  margin-top: 0;
  margin-bottom: 5px; }

span.footnotes {
  font-size: 12px;
  color: #999;
  display: inline;
  margin-left: 0;
  text-align: left; }

div.country {
  font: 14px/16px Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  right: 1em;
  padding: .2em .5em;
  line-height: 1.1em;
  text-align: center; }

.legend {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.9);
  line-height: 18px;
  border-radius: 5px;
  width: 200px;
  color: #555; }
  .legend i {
    color: #777;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7; }

#main-map {
  position: absolute;
  width: 100%;
  height: 100%; }

.geocoder-control {
  max-width: 500px;
  top: 10px;
  left: 100px;
  padding: 5px;
  box-shadow: 0px 0px 5px grey;
  border-radius: 5px;
  background-color: white; }
  .geocoder-control md-input-container {
    padding: 2px; }
  .geocoder-control md-tab-item {
    padding: 2px 5px; }

#maps-sidenav-menu {
  z-index: 10;
  position: absolute;
  bottom: 40px;
  right: 10px; }

.maps-view md-backdrop.md-sidenav-backdrop {
  z-index: 1001; }
.maps-view md-sidenav.md-sidenav-right {
  z-index: 1002;
  overflow: hidden; }

.footer {
  height: 200px;
  background-color: #212121;
  text-align: center;
  vertical-align: middle;
  color: grey;
  width: 100%; }

.masthead {
  position: relative;
  margin-bottom: -90px;
  min-height: 340px;
  height: 340px;
  background-color: #00BCD4;
  box-shadow: initial; }

.settings-pane {
  position: relative;
  z-index: 10; }
  .settings-pane .subpage-container md-card {
    background-color: white; }

@media (min-width: 992px) {
  .settings-pane {
    margin: 0 50px; }
    .settings-pane .subpage-container {
      margin: 0 150px; } }
@media (min-width: 768px) {
  .settings-pane {
    margin: 0 40px; }
    .settings-pane .subpage-container {
      margin: 0 100px; } }
@media (max-width: 768px) {
  .settings-pane {
    margin: 0 10px; }
    .settings-pane .subpage-container {
      margin: 0 50px; } }
.masthead-container {
  min-height: 268px;
  height: 268px;
  width: 100%;
  max-width: 944px;
  margin: 0 auto;
  position: relative;
  padding: 10px 0 100px 0; }
  .masthead-container .masthead-meta {
    width: 100%; }

.settings-map-container {
  height: 400px; }
  .settings-map-container #settings-map {
    width: 100%; }

body {
  font-family: Microsoft YaHei;
  background: #F5F5F5;
  overflow: hidden; }

md-content.md-default-theme {
  background-color: initial; }

/* menu styles */
#menu {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 5;
  color: grey;
  background-color: white; }

.md-button.md-icon-button.md-mini {
  line-height: 40px;
  width: 40px;
  height: 40px; }

.maps-sidenav.md-sidenav-right.md-locked-open {
  max-width: 500px;
  width: 500px; }

/** z-index */
.md-dialog-container {
  z-index: 1004; }

md-bottom-sheet {
  z-index: 1004; }

md-backdrop.md-bottom-sheet-backdrop {
  z-index: 1003; }

/**  */
md-input-container.md-icon-float {
  margin-top: -16px;
  transition: margin-top 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }
  md-input-container.md-icon-float > label {
    pointer-events: none;
    position: absolute;
    margin-left: 36px; }
  md-input-container.md-icon-float > md-icon {
    top: 26px;
    left: 2px; }
  md-input-container.md-icon-float > md-icon + input {
    margin-left: 36px;
    padding-top: 20px; }

md-tabs {
  overflow: hidden; }

.md-toolbar-content {
  margin: 0 7px; }

/*# sourceMappingURL=app.css.map */
