.pictogram {
  background-image: url("./images/wikiloc-pictograms_v3.png");
  display: block;
  height: 40px;
  text-indent: -1000em;
  width: 40px;
  float: left; }

.activity-1 {
  background-position: 0 -40px; }

.activity-43 {
  background-position: 0 -1160px; }

.icon-marker img {
  border: 2px solid white;
  width: 34px;
  height: 34px;
  box-shadow: 2px 2px 10px #7B7B7B; }

md-bottom-sheet.md-grid md-item {
  margin: 8px 1px; }
  md-bottom-sheet.md-grid md-item.active {
    background-color: rgba(158, 158, 158, 0.2); }
  md-bottom-sheet.md-grid md-item a {
    width: 100%;
    height: 100%;
    text-decoration: initial; }
  md-bottom-sheet.md-grid md-item .md-grid-item-content {
    width: 100%;
    height: 100%; }
    md-bottom-sheet.md-grid md-item .md-grid-item-content md-icon {
      height: 48px;
      width: 48px; }

.md-sidenav-left {
  z-index: 1004; }
  .md-sidenav-left .md-tall {
    height: 180px;
    max-height: 180px; }
  .md-sidenav-left .button-signin {
    width: 100%; }
    .md-sidenav-left .button-signin button {
      width: 100%; }
  .md-sidenav-left md-list md-icon {
    float: left;
    margin: 5px 10px 3px 0; }
  .md-sidenav-left md-list.md-default-theme md-list-item.md-clickable button:hover {
    background-color: lightgray; }

md-backdrop.md-sidenav-backdrop {
  z-index: 1003; }

.sign-dialog {
  z-index: 1010;
  width: 35%; }
  .sign-dialog .md-icon-button.md-icon-close {
    position: absolute;
    right: 0;
    top: 0; }
    .sign-dialog .md-icon-button.md-icon-close md-icon {
      color: rgba(255, 255, 255, 0.5); }
  .sign-dialog .message {
    height: 35px;
    text-align: center; }
  .sign-dialog .signining {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; }
  .sign-dialog md-card {
    margin: 0; }
  .sign-dialog md-card-content {
    background-color: #3887be;
    color: white; }
    .sign-dialog md-card-content h2 {
      text-align: center; }
  .sign-dialog md-input-container.md-default-theme > md-icon {
    color: white; }
  .sign-dialog .md-raised.md-primary.md-button.md-default-theme {
    background-color: #3887be; }

@media (max-width: 768px) {
  .sign-dialog {
    width: 100%; } }
mmd-footer {
  height: 200px;
  width: 100%;
  background-color: #2c2b29; }
  mmd-footer .footer-copyright {
    width: 100%;
    background-color: #444444;
    color: white; }
    mmd-footer .footer-copyright a {
      color: white; }

.avatar-dislog {
  height: 100%; }
  .avatar-dislog .cropped-preview {
    z-index: 1;
    height: 100px; }

.photo-card-wall, [mmd-photo-card-wall], mmd-photo-card-wall {
  overflow: hidden; }
  .photo-card-wall mmd-photo-card, [mmd-photo-card-wall] mmd-photo-card, mmd-photo-card-wall mmd-photo-card {
    position: relative;
    display: inline-block;
    margin: 1px;
    background-color: grey;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s; }
    .photo-card-wall mmd-photo-card img, [mmd-photo-card-wall] mmd-photo-card img, mmd-photo-card-wall mmd-photo-card img {
      -webkit-transition: all linear 0.3s;
      -moz-transition: all linear 0.3s;
      -ms-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;
      transition: all linear 0.3s; }
    .photo-card-wall mmd-photo-card .action-container, [mmd-photo-card-wall] mmd-photo-card .action-container, mmd-photo-card-wall mmd-photo-card .action-container {
      position: absolute;
      bottom: 0;
      height: 40%;
      width: 100%;
      overflow: hidden;
      -webkit-transition: height 0.3s ease-out;
      transition: height 0.3s ease-out; }
      .photo-card-wall mmd-photo-card .action-container .action, [mmd-photo-card-wall] mmd-photo-card .action-container .action, mmd-photo-card-wall mmd-photo-card .action-container .action {
        -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
        transform: translate(0, 100%); }
    .photo-card-wall mmd-photo-card .ponm-photo-footer, [mmd-photo-card-wall] mmd-photo-card .ponm-photo-footer, mmd-photo-card-wall mmd-photo-card .ponm-photo-footer {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      border: 5px solid transparent;
      background-color: rgba(128, 128, 128, 0.5);
      color: white;
      font-size: 10px;
      overflow: hidden;
      -webkit-transition: background-color 0.3s ease-in;
      transition: background-color 0.3s ease-in; }
      .photo-card-wall mmd-photo-card .ponm-photo-footer .description, [mmd-photo-card-wall] mmd-photo-card .ponm-photo-footer .description, mmd-photo-card-wall mmd-photo-card .ponm-photo-footer .description {
        color: white; }
    .photo-card-wall mmd-photo-card .action, [mmd-photo-card-wall] mmd-photo-card .action, mmd-photo-card-wall mmd-photo-card .action {
      -webkit-transition: transform 0.3s ease-in;
      transition: transform 0.3s ease-in; }
    .photo-card-wall mmd-photo-card.ng-enter, [mmd-photo-card-wall] mmd-photo-card.ng-enter, mmd-photo-card-wall mmd-photo-card.ng-enter {
      -webkit-animation: enter_sequence 300ms ease-out;
      /* Safari/Chrome */
      animation: enter_sequence 300ms ease-out;
      /* IE10+ and Future Browsers */ }
    .photo-card-wall mmd-photo-card.ng-leave, [mmd-photo-card-wall] mmd-photo-card.ng-leave, mmd-photo-card-wall mmd-photo-card.ng-leave {
      -webkit-animation: leave_sequence 300ms ease-out;
      /* Safari/Chrome */
      animation: leave_sequence 300ms ease-out;
      /* IE10+ and Future Browsers */ }
    .photo-card-wall mmd-photo-card:hover .action, .photo-card-wall mmd-photo-card.hover .action, [mmd-photo-card-wall] mmd-photo-card:hover .action, [mmd-photo-card-wall] mmd-photo-card.hover .action, mmd-photo-card-wall mmd-photo-card:hover .action, mmd-photo-card-wall mmd-photo-card.hover .action {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 1; }
    .photo-card-wall mmd-photo-card:hover .action-container:hover, .photo-card-wall mmd-photo-card:hover .action-container.hover, .photo-card-wall mmd-photo-card.hover .action-container:hover, .photo-card-wall mmd-photo-card.hover .action-container.hover, [mmd-photo-card-wall] mmd-photo-card:hover .action-container:hover, [mmd-photo-card-wall] mmd-photo-card:hover .action-container.hover, [mmd-photo-card-wall] mmd-photo-card.hover .action-container:hover, [mmd-photo-card-wall] mmd-photo-card.hover .action-container.hover, mmd-photo-card-wall mmd-photo-card:hover .action-container:hover, mmd-photo-card-wall mmd-photo-card:hover .action-container.hover, mmd-photo-card-wall mmd-photo-card.hover .action-container:hover, mmd-photo-card-wall mmd-photo-card.hover .action-container.hover {
      height: 100%; }
      .photo-card-wall mmd-photo-card:hover .action-container:hover .ponm-photo-footer, .photo-card-wall mmd-photo-card:hover .action-container.hover .ponm-photo-footer, .photo-card-wall mmd-photo-card.hover .action-container:hover .ponm-photo-footer, .photo-card-wall mmd-photo-card.hover .action-container.hover .ponm-photo-footer, [mmd-photo-card-wall] mmd-photo-card:hover .action-container:hover .ponm-photo-footer, [mmd-photo-card-wall] mmd-photo-card:hover .action-container.hover .ponm-photo-footer, [mmd-photo-card-wall] mmd-photo-card.hover .action-container:hover .ponm-photo-footer, [mmd-photo-card-wall] mmd-photo-card.hover .action-container.hover .ponm-photo-footer, mmd-photo-card-wall mmd-photo-card:hover .action-container:hover .ponm-photo-footer, mmd-photo-card-wall mmd-photo-card:hover .action-container.hover .ponm-photo-footer, mmd-photo-card-wall mmd-photo-card.hover .action-container:hover .ponm-photo-footer, mmd-photo-card-wall mmd-photo-card.hover .action-container.hover .ponm-photo-footer {
        background-color: rgba(128, 128, 128, 0.8); }

.photo-wall md-tab-content {
  overflow-y: scroll; }

.photo-dialog-left {
  box-shadow: 1px 1px 5px grey;
  z-index: 3; }

.photo-dialog-info {
  position: relative;
  background-color: #e8e8e8; }
  .photo-dialog-info md-icon {
    color: rgba(0, 0, 0, 0.54); }
  .photo-dialog-info .photo-info-content {
    padding: 5px;
    overflow-x: hidden; }
  .photo-dialog-info .add-comment {
    position: absolute;
    bottom: 10px;
    right: 20px; }
  .photo-dialog-info post-comment {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: wheat; }

mmd-photo-slider .slider, [mmd-photo-slider] .slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }
  mmd-photo-slider .slider .slide, [mmd-photo-slider] .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%; }
    mmd-photo-slider .slider .slide img, [mmd-photo-slider] .slider .slide img {
      max-width: 100%;
      max-height: 100%; }
    mmd-photo-slider .slider .slide.slide-left, [mmd-photo-slider] .slider .slide.slide-left {
      left: -100%;
      right: 100%; }
    mmd-photo-slider .slider .slide.slide-right, [mmd-photo-slider] .slider .slide.slide-right {
      left: 100%;
      right: -100%; }
mmd-photo-slider .arrows, [mmd-photo-slider] .arrows {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0; }

.transition-ease-in-fast {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }

user-profile {
  font-family: Microsoft YaHei;
  max-height: 100%;
  overflow: hidden; }

.md-avatar {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 50%;
  box-sizing: content-box;
  float: left;
  display: inline-block; }

.profile-name {
  padding-top: 8px; }

.media-left, .media > .pull-left {
  padding-right: 10px; }

.pull-left {
  float: left !important; }

.comments {
  margin: 10px 0; }
  .comments .media.comment {
    margin: 10px 0; }
    .comments .media.comment img.media-object {
      width: 28px;
      height: 28px; }
    .comments .media.comment .media-body .header {
      width: 130px;
      float: left; }
    .comments .media.comment .media-body .action {
      float: right; }
    .comments .media.comment .media-body .content {
      white-space: pre-wrap;
      /* css-3 */
      white-space: -moz-pre-wrap;
      /* Mozilla, since 1999 */
      white-space: -pre-wrap;
      /* Opera 4-6 */
      white-space: -o-pre-wrap;
      /* Opera 7 */
      word-wrap: break-word;
      /* Internet Explorer 5.5+ */
      clear: both;
      padding: 0;
      margin: 0;
      border: 0;
      background-color: initial; }

.img-rounded {
  border-radius: 6px; }

img {
  vertical-align: middle; }

.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: top; }

.media-heading {
  margin-top: 0;
  margin-bottom: 5px; }

span.footnotes {
  font-size: 12px;
  color: #999;
  display: inline;
  margin-left: 0;
  text-align: left; }

.geocoder-control {
  position: absolute;
  max-width: 500px;
  top: 5px;
  left: 50px;
  right: 100px;
  padding: 5px; }
  .geocoder-control md-input-container {
    padding: 2px; }
  .geocoder-control md-tabs-canvas {
    height: 25px; }
    .geocoder-control md-tabs-canvas md-pagination-wrapper {
      height: 25px; }
  .geocoder-control md-tab-item {
    padding: 0 5px; }
  .geocoder-control md-list {
    max-height: 30%;
    overflow-y: auto; }
    .geocoder-control md-list md-list-item {
      min-height: 25px;
      margin: 5px 0; }
      .geocoder-control md-list md-list-item md-button {
        line-height: 1em;
        min-height: 25px;
        height: 25px; }
      .geocoder-control md-list md-list-item md-button:hover {
        background-color: lightblue; }
      .geocoder-control md-list md-list-item .md-list-item-inner {
        line-height: 1em;
        min-height: 25px; }

mmd-save-as md-input-container {
  padding: 5px; }

div.country {
  font: 14px/16px Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  right: 1em;
  padding: .2em .5em;
  line-height: 1.1em;
  text-align: center; }

.mmd-list .md-list-item-text h3 {
  cursor: pointer; }
  .mmd-list .md-list-item-text h3:hover {
    text-decoration: underline; }

.legend {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.9);
  line-height: 18px;
  border-radius: 5px;
  width: 200px;
  color: #555; }
  .legend i {
    color: #777;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7; }

#main-map {
  position: absolute;
  width: 100%;
  height: 100%; }

#maps-sidenav-menu {
  z-index: 10;
  position: absolute;
  bottom: 40px;
  right: 10px; }

.maps-view md-backdrop.md-sidenav-backdrop {
  z-index: 1001; }
.maps-view md-sidenav.md-sidenav-right {
  z-index: 1002;
  overflow: hidden; }

.md-autocomplete-suggestions {
  z-index: 1002; }

.mmd-list md-list md-list-item {
  border-bottom: 1px dashed grey; }
  .mmd-list md-list md-list-item md-icon.leader {
    margin: 15px 10px;
    height: 40px;
    width: 40px;
    cursor: pointer; }
  .mmd-list md-list md-list-item .md-list-item-inner md-icon.leader {
    margin: 0 10px 0 0; }

.upload-file-form md-progress-linear {
  z-index: 1; }
  .upload-file-form md-progress-linear .md-container {
    top: 0; }

.upload-photo-card md-autocomplete.md-default-theme {
  background-color: initial; }
  .upload-photo-card md-autocomplete.md-default-theme md-autocomplete-wrap {
    box-shadow: initial; }
.upload-photo-card md-autocomplete input {
  border-color: rgba(0, 0, 0, 0.12);
  border-width: 0 0 1px 0;
  border-style: solid; }
.upload-photo-card .upload-photo-addr {
  margin: 5px; }
.upload-photo-card .photo-markable {
  position: relative;
  float: left;
  padding: 3px;
  cursor: pointer; }
  .upload-photo-card .photo-markable md-icon {
    position: absolute;
    right: 1px;
    top: 1px;
    color: lightsalmon;
    z-index: 1;
    display: none; }
  .upload-photo-card .photo-markable .photo-thumbnail {
    min-width: 80px;
    min-height: 80px; }
    .upload-photo-card .photo-markable .photo-thumbnail img {
      width: initial; }
  .upload-photo-card .photo-markable.active md-icon {
    display: block; }
.upload-photo-card .preview.drag-marker {
  position: fixed;
  z-index: 9000; }
  .upload-photo-card .preview.drag-marker .marker {
    position: absolute;
    z-index: 9000;
    width: 30px;
    height: 40px;
    background-image: url("./images/marker-icon.png");
    background-repeat: no-repeat; }
  .upload-photo-card .preview.drag-marker img {
    opacity: 0;
    filter: alpha(opacity=0); }

md-card.caption {
  background-color: #6575cf;
  color: white; }

md-content.upload-list {
  overflow-x: hidden; }
  md-content.upload-list.md-default-theme {
    background-color: #F5F5F5; }
  md-content.upload-list .upload-content {
    position: absolute;
    min-height: 100%; }

.track-list md-list md-list-item {
  border-bottom: 1px dashed grey; }

.track-detail md-grid-tile.gray {
  background-color: gray; }
.track-detail md-grid-tile.green {
  background-color: green; }
.track-detail md-grid-tile.yellow {
  background-color: yellow; }
.track-detail md-grid-tile.blue {
  background-color: blue; }
.track-detail md-grid-tile.red {
  background-color: red; }

md-content.upload-list .track-list {
  position: absolute;
  min-height: 100%; }
md-content.upload-list md-list-item {
  padding: 0; }
  md-content.upload-list md-list-item md-card {
    width: 100%; }

.track-search .search-form {
  margin: 0 10px; }
.track-search md-autocomplete.md-default-theme {
  background-color: initial;
  box-shadow: initial; }
  .track-search md-autocomplete.md-default-theme md-autocomplete-wrap {
    box-shadow: initial; }
.track-search md-autocomplete input {
  border-color: rgba(0, 0, 0, 0.12);
  border-width: 0 0 1px 0;
  border-style: solid; }
.track-search fieldset {
  border: 0;
  padding: 0; }

md-content.gpx-list md-list-item {
  padding: 0; }
  md-content.gpx-list md-list-item md-card {
    width: 100%; }

.track .md-input-container {
  padding: 40px 0 0; }
  .track .md-input-container label {
    position: absolute;
    top: -10px; }
.track md-list md-divider {
  position: relative; }
.track md-radio-group {
  float: left; }
.track md-radio-button {
  display: inline-flex; }
  .track md-radio-button md-icon {
    float: left; }
  .track md-radio-button p {
    float: left;
    margin: 0; }

.md-button.md-fab md-progress-circular {
  left: -2px; }

.travel .spot-desc {
  padding: 10px; }

md-grid-list md-grid-tile {
  overflow: hidden; }
  md-grid-list md-grid-tile md-icon {
    position: absolute;
    left: 2px;
    top: 2px; }

.footer {
  height: 200px;
  background-color: #212121;
  text-align: center;
  vertical-align: middle;
  color: grey;
  width: 100%; }

.masthead {
  position: relative;
  margin-bottom: -90px;
  min-height: 340px;
  height: 340px;
  background-color: #00BCD4;
  box-shadow: initial; }

.settings-pane {
  position: relative;
  z-index: 10; }
  .settings-pane .subpage-container md-card {
    background-color: white; }

@media (min-width: 992px) {
  .settings-pane {
    margin: 0 50px; }
    .settings-pane .subpage-container {
      margin: 0 150px; } }
@media (min-width: 768px) {
  .settings-pane {
    margin: 0 40px; }
    .settings-pane .subpage-container {
      margin: 0 100px; } }
@media (max-width: 768px) {
  .settings-pane {
    margin: 0; }
    .settings-pane .subpage-container {
      margin: 0 10px; } }
.masthead-container {
  min-height: 268px;
  height: 268px;
  width: 100%;
  max-width: 944px;
  margin: 0 auto;
  position: relative;
  padding: 10px 0 100px 0; }
  .masthead-container .masthead-meta {
    width: 100%; }

.img-rounded {
  border-radius: 5px; }

.avatar_picture {
  width: 100px;
  height: 100px; }

.settings-map-container {
  height: 500px; }
  .settings-map-container #settings-map {
    width: 100%;
    height: 100%; }
  .settings-map-container md-tab-item md-checkbox {
    margin: 0 10px; }

body {
  font-family: Microsoft YaHei;
  background: #F5F5F5;
  overflow: hidden; }

md-content.md-default-theme {
  background-color: initial; }

/* menu styles */
#menu {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 5;
  color: grey;
  background-color: white; }

.md-button.md-icon-button.md-mini {
  line-height: 40px;
  width: 40px;
  height: 40px; }

.maps-sidenav.md-sidenav-right.md-locked-open {
  max-width: 500px;
  width: 500px; }

/** z-index */
.md-dialog-container {
  z-index: 1004; }

md-bottom-sheet {
  z-index: 1004; }

md-backdrop.md-bottom-sheet-backdrop {
  z-index: 1003; }

md-toast {
  z-index: 1005; }

md-tooltip {
  z-index: 1005; }

/**  */
md-input-container.md-icon-float {
  margin-top: -16px;
  transition: margin-top 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }
  md-input-container.md-icon-float > label {
    pointer-events: none;
    position: absolute;
    margin-left: 36px; }
  md-input-container.md-icon-float > md-icon {
    top: 26px;
    left: 2px; }
  md-input-container.md-icon-float > md-icon + input {
    margin-left: 36px;
    padding-top: 20px; }

md-tabs {
  overflow: hidden; }

.md-toolbar-content {
  margin: 0 7px; }

pre {
  word-break: break-all;
  white-space: pre-wrap; }

.md-select-menu-container.md-active {
  z-index: 1002;
  background-color: white; }

/*# sourceMappingURL=app.css.map */
