@import "../scss/_variables.scss";
@import '../scss/_mixins.scss';
@import '../scss/_icons.scss';
@import '../common/leaflet/leaflet.scss';
@import './home/home.scss';
@import './home/sidenav/sidenav.scss';
@import './home/signin/signin.scss';
@import './home/footer/footer.scss';
@import './home/avatar/avatar.scss';
@import './components/photoCardWall/photoCardWall.scss';
@import './components/photoDialog/photoDialog.scss';
@import './components/photoSlider/photoSlider.scss';
@import './components/user/profile/profile.scss';
@import './components/comment/comment.scss';
@import './components/search/search.scss';
@import './components/saveAs/saveAs.scss';
@import './components/album/add/add.scss';
@import './components/album/album.scss';
@import './maps/popular/maps.popular.scss';
@import './maps/geojson/geojson.scss';
@import './maps/app.maps.scss';
@import './maps/upload/upload.scss';
@import './maps/track/track.scss';
@import './maps/track/search/search.scss';
@import './maps/track/upload/upload.scss';
@import './maps/travel/travel.scss';
@import './photos/all/all.scss';
@import './photos/photos.scss';
@import './settings/settings.scss';
@import './settings/map/map.scss';

body {
  font-family: Microsoft YaHei;
  background: #F5F5F5;
  overflow: hidden;
}

md-content.md-default-theme {
   background-color: initial;
}

/* menu styles */
#menu {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 5;
  color: grey;
  background-color: white;
}

.md-button.md-icon-button.md-mini {
  line-height: 40px;
  width: 40px;
  height: 40px;
}

.maps-sidenav.md-sidenav-right.md-locked-open {
  max-width: 500px;
  width: 500px;
}

/** z-index */
.md-dialog-container {
  z-index: 1004;
}

md-bottom-sheet {
  z-index: 1004;
}

md-backdrop.md-bottom-sheet-backdrop {
  z-index: 1003;
}

md-toast {
  z-index: 1005;
}

md-tooltip {
  z-index: 1005;
}

/**  */
md-input-container.md-icon-float {

  margin-top: -16px;
  transition: margin-top 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);

  > label {
    pointer-events: none;
    position: absolute;
    margin-left: 36px;
  }

  > md-icon {
    top: 26px;
    left: 2px;
  }

  > md-icon + input {
    margin-left: 36px;
    padding-top: 20px;
  }
}

md-tabs {
  overflow: hidden;
}

.md-toolbar-content {
  margin: 0 7px;
}

pre {
  word-break: break-all;
  white-space: pre-wrap;
}

.md-select-menu-container.md-active {
  z-index: 1002;
  background-color: white;
}