<div ng-mouseover="photo.actionSelectable = true"
     ng-mouseleave="photo.actionSelectable = false">
    <md-checkbox ng-model="photo.actionSelected" aria-label="选择" class="selector"
                 ng-show="photoSelectable&&(photo.actionSelectable||actionSelected)"
                 ng-click="$event.stopPropagation();">
    </md-checkbox>
    <div class="photo-card-image"
         ng-click="displayPhoto($event, photo)">
        <img ng-src="{{photoUrl}}"
             data-width="{{photo.width}}" data-height="{{photo.height}}">
        <div ng-if="photo.is360" class="photo-icon">
            <div class="icon-p360">
            </div>
        </div>
    </div>
    <div class="action-container">
        <div class="action ponm-photo-footer">
            <div><md-icon md-svg-icon="maps:place"></md-icon></md-icon>{{photo.location.address}}</div>
            <pre class="description">{{photo.description}}</pre>
        </div>
    </div>
</div>
