<md-toolbar class="md-accent" md-scroll-shrink>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings"
                   ng-click="toggleLeftBar()">
            <md-icon md-svg-icon="navigation:menu"></md-icon>
        </md-button>
        <h2>
            <span>上传照片</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More"
                   ng-click="showBottomSheet($event)">
            <md-icon md-svg-icon="more_vert"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<div id="fileupload"
     class="upload-file-form"
     flex layout="column" layout-fill
     ng-class="{'fileupload-processing': processing() || loadingFiles}"
     ng-controller="MapsFileUploadCtrl as mfuc"
     file-upload="options">

    <md-fab-speed-dial md-open="speedDialOpen" md-direction="left"
                       class="md-fling md-bottom-right">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn">
                <md-icon md-svg-icon="navigation:menu"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button aria-label="保存" class="md-fab md-raised md-primary md-mini"
                       ng-click="submit()">
                <md-icon md-svg-icon="content:save"></md-icon>
            </md-button>
            <md-button aria-label="上传" class="md-fab md-raised md-primary md-mini"
                       ngf-select
                       ngf-multiple="true"
                       ngf-capture="'camera'"
                       ngf-change="mfuc.fileSelected($files, $event)"
                       accept="image/*" required="">
                <md-icon md-svg-src="file:upload"></md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>

    <div file-upload-progress="progress()" ng-show="active()">
        <md-progress-linear md-mode="determinate"
                            value="{{num}}">
        </md-progress-linear>
    </div>
<md-content flex layout="column" layout-fill class="upload-list">

        <div flex layout="column" class="upload-content">
            <md-card class="caption">
                <md-card-content>
                    <p><b>选择照片上传</b></p>
                </md-card-content>
            </md-card>
            <div layout="row" layout-align="end center">
                <div layout-padding>
                    添加到专辑
                </div>
                <md-select ng-model="album" aria-label="添加到专辑" layout-padding>
                    <md-select-label>{{ album ? album.title : '' }}</md-select-label>
                    <md-option ng-value="album" ng-repeat="album in albums">{{album.title}}</md-option>
                </md-select>
            </div>

            <md-list flex>
                <div ng-repeat="file in queue"
                        ng-controller="MapsFileUploadPhotoCtrl as mupc">
                    <form name="fileForm" class="upload-photo-form">
                    <md-card class="upload-photo-card">
                        <div file-upload-progress="file.$progress()">
                            <md-progress-linear class="md-accent"
                                                md-mode="determinate"
                                                value="{{num}}">
                            </md-progress-linear>
                        </div>

                        <div flex layout="row" class="upload-photo-addr">
                            <div class="photo-markable"
                                 ng-class="{'active': file.markable}"
                                 ng-click="markable(file)"
                                    >
                                <md-icon md-svg-icon="maps:place"></md-icon>
                                <div ng-switch="!!file.thumbnailUrl" class="photo-thumbnail">
                                    <div class="preview" ng-switch-when="true">
                                        <a ng-href="{{file.url}}" title="{{file.name}}"
                                           download="{{file.name}}" gallery>
                                            <img ng-src="{{file.thumbnailUrl}}" alt="">
                                        </a>
                                    </div>
                                    <div class="preview" ng-switch-default
                                         file-upload-color-preview="file.preview"
                                         >
                                    </div>
                                </div>
                            </div>

                            <div flex layout="column">
                                <div>
                                    <label>经纬度:</label><span>{{file.position.latPritty}}</span>
                                    <span>{{file.position.lngPritty}}</span>
                                </div>
                                <md-autocomplete
                                        md-selected-item="mupc.selectedItem"
                                        md-search-text-change="mupc.searchTextChange(mupc.searchText)"
                                        md-search-text="mupc.searchText"
                                        md-selected-item-change="mupc.selectedItemChange(item)"
                                        md-items="item in mupc.querySearch(mupc.searchText)"
                                        md-item-text="item.display"
                                        md-min-length="0"
                                        md-floating-label="地址">
                                        <span md-highlight-text="mupc.searchText">{{item.display}}</span>
                                </md-autocomplete>

                            </div>

                        </div>

                        <md-card-content>
                            <md-input-container md-no-float>
                                <input ng-model="file.title" placeholder="title">
                            </md-input-container>
                            <md-input-container flex>
                                <label>描述</label>
                                    <textarea ng-model="file.description" columns="1"
                                              md-maxlength="150"></textarea>
                            </md-input-container>

                            <!--<md-chips ng-model="file.tags"></md-chips>-->

                            <md-chips ng-model="mupc.selectedTags" md-autocomplete-snap>
                                <md-autocomplete
                                        md-selected-item="mupc.selectedTag"
                                        md-search-text="mupc.tag"
                                        md-items="item in mupc.tagsSearch(mupc.tag)"
                                        md-item-text="item.name"
                                        placeholder="Search for a vegetable">
                                    <span md-highlight-text="mupc.tag">{{item.name}} :: {{item.type}}</span>
                                </md-autocomplete>
                                <md-chip-template>
        <span>
          <strong>{{$chip.name}}</strong>
        </span>
                                </md-chip-template>
                            </md-chips>
                        </md-card-content>

                        <div class="md-actions" layout="row">
                            <md-checkbox ng-model="file.is360" aria-label="全景">
                                全景
                            </md-checkbox>
                            <span flex></span>
                            <div ng-show="file.uploaded">
                                <md-button class="md-raised "
                                           ng-disabled="!fileForm.$dirty"
                                           ng-class="{'md-primary': fileForm.$dirty}"
                                           ng-click="mupc.update()">更新
                                </md-button>
                            </div>
                            <div ng-show="!file.uploading&&!file.uploaded">
                                <md-button class="md-raised md-primary"
                                           ng-click="mfuc.submit(file)">保存
                                </md-button>
                            </div>
                            <div ng-show="!file.uploaded">
                                <md-button ng-click="mupc.remove(file)">取消
                                </md-button>
                            </div>
                            <div ng-show="file.uploaded">
                                <md-button class="md-warn"
                                           ng-controller="MapsFileUploadDestoryCtrl as mfudc"
                                           ng-disabled="mfudc.destroying"
                                           ng-click="file.$destroy()">删除
                                </md-button>
                            </div>

                        </div>
                    </md-card>
                    </form>
                </div>
            </md-list>

            <mmd-footer layout="column">
            </mmd-footer>
        </div>

</md-content>
</div>
