.upload-file-form {
  md-progress-linear{
    z-index: 1;
    .md-container {
      top: 0;
    }
  }
}

.upload-photo-form {
  width: 100%;
  padding: 10px;
}
.upload-photo-card {
  margin: 0;
  md-autocomplete {
    &.md-default-theme {
      background-color: initial;
      md-autocomplete-wrap {
        box-shadow: initial;
      }
    }
    input {
      border-color: rgba(0,0,0,0.12);
      border-width: 0 0 1px 0;
      border-style: solid;
    }
  }

  .upload-photo-addr {
    margin: 5px;
  }

  .photo-markable {
    position: relative;
    float: left;
    padding: 3px;
    cursor: pointer;
    md-icon {
      position: absolute;
      right: 1px;
      top: 1px;
      color: lightsalmon;
      z-index: 1;
      display: none;
    }

    .photo-thumbnail {
      min-width: 80px;
      min-height: 80px;
      img {
        width: initial;
      }
    }

    &.active {
      md-icon {
        display: block;
      }
    }
  }

  .preview.drag-marker {
    position: fixed;
    z-index: 9000;
    .marker {
      position: absolute;
      z-index: 9000;
      width: 30px;
      height: 40px;
      background-image: url("./images/marker-icon.png");
      background-repeat: no-repeat;
    }
    img {
      @include opacity(0);
    }
  }
}

md-card.caption {
  //background-color: rgb(101, 117, 207);
  //color: white;
}

md-content.upload-list {
  overflow-x: hidden;
  &.md-default-theme {
    background-color: #F5F5F5;
  }

  .upload-content {
    position: absolute;
    min-height: 100%;
  }
}