md-content.gpx-list {
  &.md-default-theme {
    background-color: #F5F5F5;
    .caption {
      background-color: rgb(101, 117, 207);
      color: white;
    }
  }

  .track-list {
    position: absolute;
    min-height: 100%;
  }

  md-list-item {
    padding: 0;
    md-card {
      width: 100%;
    }
  }
}

.track {
  .md-input-container {
    padding: 40px 0 0;
    label {
      position: absolute;
      top: -10px;
    }
  }

  md-list {
    md-divider {
      position: relative;
    }
  }

  md-radio-group {
    float: left;
  }
  md-radio-button {
    display: inline-flex;
    md-icon {
      float: left;
    }
    p {
      float: left;
      margin: 0;
    }
  }
}