<form name="featureForm" ng-submit="updated(mgefc.feature);featureForm.$setPristine()">
    <md-card >
        <md-card-content>
            <h3>{{mgefc.feature.name}}</h3>
            <div layout="column" flex>
                <div layout="row">
                    <md-input-container>
                        <label>点(radius)</label>
                        <input type="number" string-to-number name="radius"
                               min="1" max="100" step="1"
                               ng-model="mgefc.feature.style.radius" >
                    </md-input-container>
                    <md-input-container>
                        <label>(fillOpacity)</label>
                        <input type="number" name="fillOpacity"
                               min="0" max="1" step="0.1"
                               string-to-number
                               ng-model="mgefc.feature.style.fillOpacity">
                    </md-input-container>
                    <md-input-container>
                        <label>(fillColor)</label>
                        <input type="string" name="fillColor"
                               maxlength="10"
                               ng-model="mgefc.feature.style.fillColor">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container>
                        <label>边(weight)</label>
                        <input type="number" name="weight"
                               min="0" max="100" step="1"
                               string-to-number
                               ng-model="mgefc.feature.style.weight" >
                    </md-input-container>
                    <md-input-container>
                        <label>(opacity)</label>
                        <input type="number" name="opacity"
                               min="0" max="1" step="0.1"
                               string-to-number
                               ng-model="mgefc.feature.style.opacity">
                    </md-input-container>
                    <md-input-container>
                        <label>(dashArray)</label>
                        <input type="number" name="dashArray"
                               min="0" max="10" step="1"
                               string-to-number
                               ng-model="mgefc.feature.style.dashArray">
                    </md-input-container>
                    <md-input-container>
                        <label>(color)</label>
                        <input type="string" name="color"
                               ng-model="mgefc.feature.style.color">
                    </md-input-container>
                </div>
                <div layout="column">
                    <md-input-container ng-repeat="(key,val) in mgefc.filterSecId(mgefc.feature)">
                        <label>{{key}}</label>
                        <input type="string" name="{{key}}"
                               ng-model="mgefc.feature[key]">
                    </md-input-container>
                </div>
            </div>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button class="md-raised"
                    ng-class="{'md-primary': featureForm.$dirty}">更新</md-button>
            <md-button class="md-raised"
                       ng-click="mgefc.reset()">取消</md-button>
        </div>
    </md-card>
</form>