<h3>{{data.title}}</h3>
<div class="info country f32" ng-show="selectedFeature.properties">
    {{ selectedFeature.properties.name }}

    <div flex layout="column">
        <div flex layout="row" ng-repeat="item in selectedFeature.properties.adddata">
            <div flex="40">{{item.name}}</div>
            <div>{{item.value}}</div>
        </div>
    </div>

    <div>
        {{data.regions[selectedFeature.id]}}
    </div>
</div>

<div>
    <md-list>
        <md-list-item ng-repeat="color in data.legend.colors"
                      ng-style="{color: color}">
            <md-icon md-svg-icon="maps:map"
                     ></md-icon>
            <p>{{data.legend.labels[$index]}}</p>
            <md-checkbox ng-model="data.legend.ranges[$index].selected"
                         aria-label="color"></md-checkbox>
        </md-list-item>

    </md-list>
</div>