.albums-grid-list {
  .album-card {
    height: 100%;
  }
}
.albums-grid-card {
  md-grid-list {
    .album-card {
      padding: 0;
      border-bottom: 1px solid lightgrey;
      md-card {
        box-shadow: initial;
      }
    }
  }
}

.members-grid-card {
  md-grid-list {
    .member-card {
      border-bottom: 1px solid lightgrey;
    }
  }
}

.masthead-meta {
  .md-avatar {
    margin-top: 20px;
  }
}

.masthead-header {
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}