<md-content flex layout-fill>
    <md-toolbar class="masthead md-hue-3">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings"
                       ng-click="toggleLeftBar()">
                <md-icon md-svg-icon="navigation:menu"></md-icon>
            </md-button>
            <span></span>
        </div>
        <div class="masthead-container" flex layout="column" layout-align="end center">
            <div class="masthead-meta">
                <a href="" ng-click="uc.owned&&uc.changeAvatar($event)">
                    <img alt="{{ uc.user.name }}"
                         ng-src="{{staticCtx}}/cover{{uc.user.avatar || 1}}.png"
                         class="md-avatar" />
                </a>
                <h2>{{uc.title}}</h2>
                <div flex layout="row">
                    <!--<md-tabs flex
                             md-selected="menuSelectedIndex"
                             md-dynamic-height md-border-bottom
                            >
                        <md-tab label="{{item.name}}"
                                ng-repeat="item in linkItems"
                                >
                        </md-tab>
                    </md-tabs>-->
                </div>
            </div>
        </div>
    </md-toolbar>
    <div flex layout="column"
         class="settings-pane">
        <div flex class="subpage-container" ng-switch="uc.type">
            <user-group-page ng-switch-when="group"
                             group="uc.user"
                             owned="uc.owned">
            </user-group-page>
            <user-user-page ng-switch-when="user"
                            user="uc.user"
                            owned="uc.owned">
            </user-user-page>
        </div>
    </div>

    <mmd-footer layout="column">
    </mmd-footer>

</md-content>