<md-card>
    <md-card-content>

    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-raised md-primary"
                   ng-hide="sac.saving"
                   ng-disabled="!accountForm.$dirty"
                   ng-click="sac.submit(settings)">保存</md-button>
        <md-button class="md-raised md-primary"
                   ng-disabled="true"
                   ng-show="sac.saving">保存中...</md-button>
        <md-button ng-disabled="!accountForm.$dirty||sac.saving" ng-click="reset()">取消</md-button>
    </div>
</md-card>