<div class="albums-grid-list">
    <md-grid-list
            md-cols-gt-md="5" md-cols-sm="2" md-cols-md="3"
            md-row-height-gt-md="1:1" md-row-height="1:1"
            md-gutter-gt-md="10px" md-gutter-gt-sm="5px" md-gutter="1px">
        <md-grid-tile
                ng-repeat="album in pamc.albums"
                md-colspan-gt-sm="1"
                md-rowspan-gt-sm="1">
            <album-card album="album" editable="true"
                        layout-fill flex layout="row"
                        class="album-card"
                        ng-click="go('app.photos.album', {id: album.id})">
            </album-card>
        </md-grid-tile>
    </md-grid-list>
</div>