<!DOCTYPE html>
<html ng-app="app-starter" ng-controller="AppCtrl as appc">
    <head lang="zh">
        <meta charset="UTF-8">
        <title ng-bind="appTitle"></title>
        <base href="/map-md-client/build/" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

        <!--[if IE]>
        <style>
            body .main-view {
                height: 100%;
            }
            .maps-view {
                position: relative;
                height: 100%;
            }
        </style>
        <![endif]-->

        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>"/>
        <% }); %>

        <!-- Dev Emulator -->
        <!--<script type="text/javascript" src="vendor/hammer-touchemulator/touch-emulator.js"></script>-->
        <!--<script> TouchEmulator(); </script>-->

        <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script>
        <% }); %>

        <!--<script type="text/javascript">
            L.Icon.Default.imagePath = "/assets/images";
        </script>-->
    </head>
    <body layout="column">
        <script type="text/javascript" >
            angular.module('app-starter', ['app']);
        </script>
        <div ui-view="sidenav"></div>
        <div flex layout="column" ui-view
             class="main-view"></div>
    </body>
</html>