<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

</head>
<body ng-app="starterApp" layout="column" ng-controller="AppCtrl as appc">

<md-button id="menu" class="md-raised md-primary menu" ng-click="appc.toggleList()" aria-label="Show User List">
    <md-icon md-svg-icon="menu" ></md-icon>
</md-button>

<div flex layout="row">

    <div ui-view="sidenav"></div>

    <div flex layout="column" ui-view>
    </div>

</div>

<script type="text/javascript">

    angular
            .module('starterApp', ['ngMaterial', 'app'])
            .config(function($mdThemingProvider, $mdIconProvider){

                $mdIconProvider
                        .defaultIconSet("./assets/svg/avatars.svg", 128)
                        .icon("upload"       , "./assets/svg/ic_cloud_upload_24px.svg"        , 24)
                        .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                        .icon("share"      , "./assets/svg/share.svg"       , 24)
                        .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                        .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                        .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                        .icon("mail"       , "./assets/svg/mail.svg"        , 512)
                        .icon("phone"      , "./assets/svg/phone.svg"       , 512)
                        .icon("more_vert"  , "./assets/svg/ic_more_vert_24px.svg"   , 24)
                        .icon("close"      , "./assets/svg/ic_close_24px.svg"       , 24)
                        .icon("favorite_outline", "./assets/svg/action/ic_favorite_outline_24px.svg", 24)
                        .icon("favorite"        , "./assets/svg/action/ic_favorite_24px.svg"        , 24)
                        .icon("today"           , "./assets/svg/action/ic_today_24px.svg"           , 24)
                        .icon("file:size"       , "./assets/svg/action/ic_description_24px.svg"           , 24)
                        .icon("action:lock"       , "./assets/svg/action/ic_lock_24px.svg"           , 24)
                        .icon("maps:place"        , "./assets/svg/maps/ic_place_24px.svg"             , 24)
                        .icon("maps:map"          , "./assets/svg/maps/ic_map_24px.svg"             , 24)
                        .icon("social:location_city", "./assets/svg/social/ic_location_city_24px.svg"   , 24)
                        .icon("social:person", "./assets/svg/social/ic_person_24px.svg"   , 24)
                        .icon("social:person_add", "./assets/svg/social/ic_person_add_24px.svg"   , 24)
                        .icon("social:person_outline", "./assets/svg/social/ic_person_outline_24px.svg"   , 24)
                        .icon("image:photo_album" , "./assets/svg/image/ic_photo_album_24px.svg"      , 24)
                        .icon("image:photo_library", "./assets/svg/image/ic_photo_library_24px.svg"    , 24)
                        .icon("image:photo_size"  , "./assets/svg/image/ic_crop_5_4_24px.svg"    , 24)
                        .icon("image:camera"      , "./assets/svg/image/ic_photo_camera_24px.svg"    , 24)
                        .icon("image:exposure"    , "./assets/svg/image/ic_exposure_24px.svg"    , 24)
                        .icon("image:flash_on"    , "./assets/svg/image/ic_flash_on_24px.svg"    , 24)
                        .icon("image:iso"         , "./assets/svg/image/ic_iso_24px.svg"    , 24)
                        .icon("file:name"         , "./assets/svg/file/ic_folder_24px.svg"            , 24)
                        .icon("communication:comment", "./assets/svg/communication/ic_comment_24px.svg"            , 24)
                ;

                $mdThemingProvider.theme('default')
                        .primaryPalette('indigo')
                        .accentPalette('orange');

            });

</script>
</body>
</html>