.pictogram {
  background-image: url("./images/wikiloc-pictograms_v3.png");
  display: block;
  height: 40px;
  text-indent: -1000em;
  width: 40px;
  float: left;
}

.activity-1 {
  background-position: 0 -40px;
}

.activity-43 {
  background-position: 0 -1160px;
}