.photo-card-wall, [mmd-photo-card-wall], mmd-photo-card-wall {
  overflow: hidden;

  mmd-photo-card {
    position: relative;
    display: inline-block;
    margin: 1px;
    background-color: grey;

    &.ng-enter {
      opacity: 0;
      @include transition(opacity .5s ease-in-out)
    }
    &.ng-enter.ng-enter-active {
      opacity: 1;
    }
    &.ng-leave {
      opacity: 1;
      @include transition(opacity .5s ease-in-out)
    }
    &.ng-leave.ng-leave-active {
      opacity: 0;
    }

    @include transition-linear(all);
    img {
      @include transition-linear(all);
    }

    .selector {
      position: absolute;
    }

    .action-container {
      position: absolute;
      bottom: 0;
      height: 40%;
      width: 100%;
      overflow: hidden;
      @include transition(height $transition-time ease-out);
      .action {
        @include translate(0, 100%);
      }
    }

    .ponm-photo-footer {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      border: 5px solid transparent;
      background-color: rgba(128, 128, 128, 0.5);
      color: white;
      font-size: 10px;
      overflow: hidden;
      @include transition(background-color $transition-time ease-in);
      .description {
        color: white;
      }
    }

    .action {
      @include transition(transform $transition-time ease-in);
    }

    &.ng-enter {
      @include animation(enter_sequence 300ms ease-out);
    }

    &.ng-leave {
      @include animation(leave_sequence 300ms ease-out);
    }
    &:hover, &.hover {
      .action {
        @include translate(0, 0);
        opacity: 1;
      }
      .action-container:hover, .action-container.hover {
        height: 100%;
        .ponm-photo-footer {
          background-color: rgba(128, 128, 128, 0.8);
        }
      }
    }
  }
}

.photo-card-image {
  cursor: pointer;
  .photo-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 65px;
    height: 65px;
    margin: -32px;
  }
}

.photo-image {
  position: relative;
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 50%;
    background-color: rgba(0, 0, 0, 0.12);
    color: white;
    text-align: initial;
  }
}

.photo-wall {
  md-tab-content {
    overflow-y: scroll;
  }
}

.icon-hover {
  @include opacity(0.5);
  @include transition(opacity 0.5s);
  &:hover, &.hover {
    @include opacity(1);
  }
}
.icon-p360 {
  @extend .icon-hover;
  width: 65px;
  height: 65px;
  background: url(images/lightbox.png) no-repeat -63px 0;
}

.icon-pflat {
  @extend .icon-hover;
  width: 65px;
  height: 65px;
  background: url(images/lightbox.png) no-repeat -63px -94px;
}
