<md-content flex layout-fill>
    <md-toolbar class="masthead md-hue-3">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings"
                       ng-click="toggleLeftBar()">
                <md-icon md-svg-icon="navigation:menu"></md-icon>
            </md-button>
            <span></span>
        </div>
        <div class="masthead-container" flex layout="column" layout-align="end center">
            <div class="masthead-meta">
                <h2>专辑</h2>
                <div flex layout="row">
                    <!--<md-tabs flex
                             md-selected="menuSelectedIndex"
                             md-dynamic-height md-border-bottom
                            >
                        <md-tab label="{{item.name}}"
                                ng-repeat="item in linkItems"
                                >
                        </md-tab>
                    </md-tabs>-->
                </div>
            </div>
        </div>
    </md-toolbar>
    <div flex layout="column"
         class="settings-pane">
        <div ui-view flex class="subpage-container">

        </div>
    </div>

    <mmd-footer layout="column">
    </mmd-footer>

</md-content>