mmd-photo-slider, [mmd-photo-slider] {

  .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    .slide {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      img {
        max-width: 100%;
        max-height: 100%;
        //width: 100%;
      }

      &.slide-left {
        left: -100%;
        right: 100%;
      }

      &.slide-right {
        left: 100%;
        right: -100%;
      }
    }
  }

  .arrows {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
  }
}

.transition-ease-in-fast {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}