<div class="slider"
        >
    <!--<div class="slide slide-left"-->
         <!--layout="row" layout-align="center center">-->
        <!--<img ng-src="http://www.photoshows.cn:9292/static.photoshows.cn/{{imageLeft.src}}@!photo-preview-lg"-->
             <!--class="md-card-image">-->
    <!--</div>-->
    <div class="slide"
         layout="row" layout-align="center center"
         hm-pinch="onPinch($event)"
         hm-pinch-out="onPinchOut($event)"
         hm-pinchstart="onPinchstart($event)"
         hm-pinchmove="onPinchmove($event)"
         hm-pinchend="onPinchend($event)">
        <img ng-src="http://www.photoshows.cn:9292/static.photoshows.cn/{{photo.oss_key}}@!photo-preview-lg"
             class="md-card-image"
             hm-pinch="onPinch($event)">
    </div>
    <!--<div class="slide slide-right"-->
         <!--layout="row" layout-align="center center">-->
        <!--<img ng-src="http://www.photoshows.cn:9292/static.photoshows.cn/{{imageRight.src}}@!photo-preview-lg"-->
             <!--class="md-card-image">-->
    <!--</div>-->
</div>

<!--<ul rn-carousel class="image">-->
    <!--<li ng-repeat="image in images">-->
        <!--<div class="layer">-->
            <!--<img ng-src="http://www.photoshows.cn:9292/static.photoshows.cn/{{image.src}}@!photo-preview-lg"-->
                    <!--class="md-card-image">-->
       <!--</div>-->
   <!--</li>-->
<!--</ul>-->
<!--<div class="arrows" layout="row" layout-align="space-between center">-->
   <!--<md-button class="md-fab md-mini md-primary" aria-label="Left">-->
       <!--<md-icon md-svg-src="chevron_left" style="color: greenyellow;"></md-icon>-->
   <!--</md-button>-->
   <!--<md-button class="md-fab md-mini md-primary" aria-label="Right"-->
           <!--ng-click="next()">-->
       <!--<md-icon md-svg-src="chevron_right" style="color: greenyellow;"></md-icon>-->
   <!--</md-button>-->
<!--</div>-->