<md-dialog aria-label="Photo locate dialog" layout="column"
           layout-fill layout-margin>
    <md-button class="md-icon-button md-bottom-left md-close" ng-click="answer('not applicable')">
        <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
    </md-button>

    <md-content layout="column" flex>
        <leaflet id="locate-map" layout-fill flex
                 layers="layers"></leaflet>
        <mmd-search get-map="getMap"></mmd-search>
    </md-content>

    <md-fab-toolbar class="md-right">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
                <md-icon md-svg-icon="navigation:menu"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-toolbar layout="row">
            <md-button class="md-icon-button md-bottom-left md-close"
                       ng-click="answer('not applicable')">
                <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
            </md-button>

            <md-fab-actions class="md-toolbar-tools" >
                <md-button aria-label="comment" class="md-icon-button"
                        ng-click="save()">
                    <md-icon md-svg-icon="content:save"></md-icon>
                </md-button>

                <md-autocomplete
                                 md-selected-item="selectedItem"
                                 md-search-text-change="searchTextChange(mupc.searchText)"
                                 md-search-text="searchText"
                                 md-selected-item-change="selectedItemChange(item)"
                                 md-items="item in querySearch(mupc.searchText)"
                                 md-item-text="item.display"
                                 md-min-length="0"
                                 md-floating-label="地址">
                    <span md-highlight-text="searchText">{{item.display}}</span>
                </md-autocomplete>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>

</md-dialog>