<div flex layout="column" layout-fill>
    <md-toolbar class="md-tall md-accent">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings"
                       ng-click="toggleLeftBar()">
                <md-icon md-svg-icon="navigation:menu"></md-icon>
            </md-button>
            <h2>
                <span>用户设置</span>
            </h2>

        </div>
        <span flex>用户详细配置</span>
    </md-toolbar>
    <md-content flex layout-fill>
        <div flex layout-fill layout="row"
             class="settings-pane">
            <div ui-view flex >

            </div>
            <md-sidenav class="md-sidenav-right md-whiteframe-z1" md-component-id="right"
                        md-is-locked-open="$mdMedia('gt-sm')" flex >
                <md-content>
                    <md-list flex layout="column">
                        <md-button ng-repeat="item in linkItems"
                                   ng-click="navigateTo(item.state, $event)">
                            <md-icon md-svg-icon="{{item.icon}}"></md-icon>
                            <div class="menu-text"> {{ item.name }} </div>
                        </md-button>
                    </md-list>

                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                </md-content>
            </md-sidenav>
        </div>

        <mmd-footer layout="column">
        </mmd-footer>

        <!--<div class="footer">-->
            <!--<span>photoshows</span>-->
        <!--</div>-->
    </md-content>

</div>