
.settings-pane {
  position: relative;
  z-index: 10;
  .subpage-container {
    md-card {
      //background-color: white;
    }
  }
}

@media (min-width: $screen-md-min) {
  .settings-pane {
    //margin: 0 50px;
    .subpage-container {
      margin: 0 150px;
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
  .settings-pane {
    //margin: 0 40px;
    .subpage-container {
      margin: 0 100px;
    }
  }
}

@media (max-width: $screen-sm-min ) {
  .settings-pane {
    margin: 0;
    .subpage-container {
      margin: 0 10px;
    }
  }
}



.img-rounded {
  border-radius: 5px;
}
.avatar_picture {
  width: 100px;
  height: 100px;
}

.cover-upload {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: right;
  button {
    background-color: rgba(255, 255, 255, 0.25);
  }
}