.footer {
  height: 200px;
  background-color: #212121;
  text-align: center;
  vertical-align: middle;
  color: grey;
  width: 100%;
}

.masthead {
  position: relative;
  margin-bottom: -90px;
  min-height: 340px;
  height: 340px;
  background-color: #00BCD4;
  box-shadow: initial;
}

.settings-pane {
  position: relative;
  z-index: 10;
  .subpage-container {
    md-card {
      background-color: white;
    }
  }
}

@media (min-width: $screen-md-min) {
  .settings-pane {
    margin: 0 50px;
    .subpage-container {
      margin: 0 150px;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .settings-pane {
    margin: 0 40px;
    .subpage-container {
      margin: 0 100px;
    }
  }
}

@media (max-width: $screen-sm-min ) {
  .settings-pane {
    margin: 0;
    .subpage-container {
      margin: 0 10px;
    }
  }
}

.masthead-container {
  min-height: 268px;
  height: 268px;
  width: 100%;
  max-width: 944px;
  margin: 0 auto;
  position: relative;
  padding: 10px 0 100px 0;

  .masthead-meta {
    width: 100%;
  }
}

